<form method="post">
	<table>
		<tr>
			<td>Titulo de la noticia</td><td><input type="text" name="txtTitle" /></td>
		</tr>
		<tr>
			<td>Fecha de la noticia</td><td><input type="text" name="txtDate" /></td>
		</tr>
		<tr>
			<td>Contenido</td><td><textarea name="txtContent"></textarea></td>
		</tr>
		<tr>
			<td><input type="submit" value="Agregar Noticia" /></td>
		</tr>
	</table>
</form>