<form method="post">
<table cellpadding="0" cellspacing="0" >
	<tr>
		<td>Usuario:</td><td><input type="text" name="txtUser" /></td>
	</tr>
	<tr>
		<td>Password:</td><td><input type="text" name="txtPass" /></td>
	</tr>
	<tr>
		<td><input type="submit" name="btnAddAccess" value="Guardar"/></td>
	</tr>
	
</table>
</form>


